.galleryPokemon > .figurePokemon> .imgPokemon {
    /* height: 200px; */
    height: 20vh;
    width: 20vw; 
    animation: bounce 1s alternate infinite ease-in;
    transition: all 1s ease-in-out; 
    border: none;
}

@keyframes bounce {
    100% {
        transform: translateY(0.6rem);
    }
} 

.imgPokemon {
    transition: transform 0.3s ease-in-out;
}

.imgPokemon:hover {
    transform: rotateY(180deg);
}

.galleryPokemon > .figurePokemon {
    height: 60vh;
    width: 20vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    color: #00008b;
    /* border: 10px solid black; */
    border-radius: 1rem;
}
  
@media only screen and (max-width: 600px) {

    .galleryPokemon > .figurePokemon {
        font-size: 0.9rem;
        width: 40vw;
    }
}