* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.appContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid black;
}

.charactersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterInfo {
  border: 6px solid blueviolet;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}