* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #AEB8C3;
    ;
}

p {
    border: 0px solid red;
    margin-bottom: 15px;
}

.education-experience-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.custom-btn {
    background-color: #C5CED6;
    cursor: pointer;
    padding: 0.6rem;
}

.horizontal-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.horizontal-line {
    width: 200px;
    border: 2px solid black;
}