button {
    padding: 7px 20px;
    border-radius: 10px;
    background-color: burlywood;
    color: #333;
    border-color: goldenrod;
    font-size: 2.0rem;
    transition: 200ms transform;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
