#memory-game-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    gap: 3rem;
}

#memory-game-gameboard-container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

#memory-game-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    border: 4px solid black;
    border-radius: 20px;
    margin: 2rem 0rem;
    padding: 2rem;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    /* background: linear-gradient(to right, #36D1DC, #5B86E5); */
    /* background: linear-gradient(to right, #FF512F, #DD2476); */
}

#memory-game-player-moves-counter {
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    #memory-game-container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #memory-game-display {
        height: 200px;
        width: 350px;
        justify-content: space-between;
        border: 2px solid black;
        margin: 2rem 0rem;
        padding: 2rem;
    }
}