#tic-tac-toe-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
}

#tic-tac-toe-gameboard-container {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
}