#memory-game-restartBtn {
    padding: 7px 20px;
    border-radius: 0px;
    background-color: burlywood;
    color: #333;
    border-color: goldenrod;
    font-size: 2.0rem;
    transition: 200ms transform;
    font-weight: 900;
}

#memory-game-restartBtn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
    #memory-game-restartBtn {
        height: 50px;
        color: white;
        border: 1px solid black;
    }
}