#tic-tac-toe-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
}

#tic-tac-toe-gameboard-display-container {
    display: flex;
    justify-content: center;
    gap: 0rem;
    align-items: center;
}

#tic-tac-toe-gameboard-container {
    /* width: 90%;
    height: 60vh; */
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin: 2rem;
}

#tic-tac-toe-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 40vw;
    border: 4px solid black;
    margin: 2rem 0rem;
    padding: 2rem;
    border: 4px solid black;
    border-radius: 12px;
    gap: 5rem;
}

#tic-tac-toe-jumbotron {
    width: 90%;
    font-size: 2.8rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Finger Paint', Impact, Haettenschweiler;
    padding: 1rem;
    text-align: center;
}

#tic-tac-toe-counter-playerX {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-counter-playerO {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-restartBtn {
    padding: 7px 20px;
    border-radius: 10px;
    background-color: burlywood;
    color: #333;
    border-color: goldenrod;
    font-size: 1.0rem;
    transition: 200ms transform;
    font-weight: 900;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-restartBtn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
    #tic-tac-toe-container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tic-tac-toe-gameboard-display-container {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    #tic-tac-toe-jumbotron {
        font-size: 1.7rem;
    }

    #tic-tac-toe-display {
        width: 350px;
    }

    #tic-tac-toe-display > #tic-tac-toe-counter-playerX {
        font-size: 1.0rem;
    }

    #tic-tac-toe-display > #tic-tac-toe-counter-playerO {
        font-size: 1.0rem;
    }
}