#tic-tac-toe-container-main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 10px solid red; */
}

#tic-tac-toe-jumbotron {
    display: none;
    width: 90%;
    font-size: 2.8rem;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
    padding: 1rem;
    text-align: center;
}

#tic-tac-toe-msg-player-wins {
    margin: 1rem;
    font-size: 8vw;
}


#tic-tac-toe-reset-game-btn {
    font-size: 1rem;
    background-color: #00f2fe;
    color: whitesmoke;
    padding: 2vw;
}

#tic-tac-toe-player-wins-container {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tic-tac-toe-gameboard-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 10px solid red; */
}

#tic-tac-toe-gameboard-container {
    height: 35vw;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid red; */
    margin: 0rem;
}

#tic-tac-toe-display {
    height: 35vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid red; */
    box-shadow: -5px -5px 10px #08224c,  5px 5px 10px #08224c;
    padding: 1rem;
    border-radius: 12px;
    gap: 2rem;
}

#tic-tac-toe-counter-playerX {
    width: 100%;
    font-size: 2.5vw;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-counter-playerO {
    width: 100%;
    font-size: 2.5vw;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-restartBtn {
    padding: 7px 20px;
    border-radius: 10px;
    background-color: burlywood;
    color: #333;
    border-color: goldenrod;
    font-size: 1.0rem;
    transition: 200ms transform;
    font-weight: 900;
    font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#tic-tac-toe-display > #tic-tac-toe-restartBtn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
    #tic-tac-toe-gameboard-display-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #tic-tac-toe-gameboard-container {
        height: 70vw;
        width: 70vw;
    }

    #tic-tac-toe-display {
        height: 70vw;
        width: 70vw;
        display: flex;
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px solid black;
        padding: 1rem;
        border-radius: 12px;
        gap: 2rem;
    }
    
    #tic-tac-toe-jumbotron {
        font-size: 1.7rem;
    }

    #tic-tac-toe-display > #tic-tac-toe-counter-playerX {
        font-size: 5vw;
    }

    #tic-tac-toe-display > #tic-tac-toe-counter-playerO {
        font-size: 5vw;
    }
}