#card {
  border-radius: 1rem;
  border: 0.2rem solid #BFDE42;
}

#card-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* border: 0.2rem solid #BFDE42; */
  }

#card-character-info {
  font-size: 0.8rem;
  background-color: black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
}

/* 
ul img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 1rem;
  border: 4px solid #BFDE42;
} */