@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

#hangman-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hangman-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem;
    /* border: 10px solid red; */
    gap: 0rem;
}

#hangman-title {
    color: #ff6b6b;
    font-size: 10vw;
    font-weight: 500;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Creepster', cursive;
    /* border: 1px solid red; */
}

#handman-word-and-display-container {
    width: 70vw;
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 6px solid red; */
}

#hangman-image {
    width: 50%;
    height: 80%;
    object-fit: contain;
    /* border: 5px solid red; */
}

/* Div for the Try btn and the user input */
#handman-display {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border: 5px solid #4facfe;
    box-shadow: -5px -5px 10px #08224c,  5px 5px 10px #08224c;
    border-radius: 12px;
}

#hangman-input-letter {
    width: 80%;
    /* height: 50%; */
    font-size: 3vw;
    border: 2px solid #4facfe;
    border-radius: 5px;
}

#hangman-try-btn {
    width: 50%;
    /* height: 50%; */
    font-size: 3vw;
    background-color: #00f2fe;
    color: whitesmoke;
}

/* word to be guessed by the user */
#handman-word {
    display: flex;
    justify-content: center;
    align-items:first baseline;
    text-align: center;
}

/* underline of the letter of the word to be guessed */
.hangman-word-letter{
    width: 20px;
    margin-right: 0.6rem;
    border-bottom: 4px solid #4facfe;
}

/* underline of the letter of the word to be guessed */
/* once is guessed */
/* .hangman-guessed-letter {
    width: 20px;
    margin-right: 0.6rem;
    border-bottom: 4px solid #4facfe;
} */

#hangman-msg-user-win {
    margin: 1rem;
    font-size: 8vw;
}

#hangman-msg-user-lose {
    margin: 1rem;
    font-size: 8vw;
}

#hangman-reset-game-btn {
    font-size: 1rem;
    background-color: #00f2fe;
    color: whitesmoke;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    #hangman-container {
        gap: 1rem;
    }

    #hangman-title {
        font-size: 20vw;
    }

    #handman-word-and-display-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #handman-display {
        width: 100%;
        height: 50%;
        gap: 1rem;
    }

    #hangman-image {
        width: 40vw;
        height: 40vw;
    }
    
    #hangman-input-letter {
        font-size: 6vw;
    }

    #hangman-try-btn {
        font-size: 6vw;
    }
}