#memory-game-2-container {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  border: 0px solid red;
}

#memory-game-2-gameboard {
  width: 30vw;
  height: 30vw;
  /* margin: 0 auto; */
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-gap: 20px;
  border: 0px solid red;
  /* display: none; */
}

#memory-game-2-display {
  height: 30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid red;
  box-shadow: -5px -5px 10px #08224c, 5px 5px 10px #08224c;
  padding: 1rem;
  border-radius: 12px;
  gap: 2rem;
  /* display: none; */
}

#memory-game-2-counter-player-clicks {
  width: 100%;
  font-size: 2.5vw;
  font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#memory-game-2-counter-matched-cars {
  width: 100%;
  font-size: 2.5vw;
  font-family: 'Finger Paint', Impact, Haettenschweiler;
}

#memory-game-2-restartBtn {
  padding: 7px 20px;
  border-radius: 10px;
  background-color: burlywood;
  color: #333;
  border-color: goldenrod;
  font-size: 1.0rem;
  transition: 200ms transform;
  font-weight: 900;
  font-family: 'Finger Paint', Impact, Haettenschweiler;
}

@media only screen and (max-width: 600px) {
  #memory-game-2-container {
    flex-direction: column;
    gap: 2rem;
  }

  #memory-game-2-gameboard {
    height: 70vw;
    width: 70vw;
  }

  #memory-game-2-display {
    height: 70vw;
    width: 70vw;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #memory-game-2-counter-player-clicks {
    font-size: 5vw;
  }

  #memory-game-2-counter-matched-cars {
    font-size: 5vw;
  }
}