.galleryPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.galleryPokemon > .figurePokemon> .imgPokemon {
    /* height: 200px; */
    height: 20vh;
    width: 20vw; 
    animation: bounce 1s alternate infinite ease-in;
    transition: all 1s ease-in-out;
}

.galleryPokemon > .figurePokemon {
    height: 50vh;
    width: 20vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerPokemonSearcher {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonSearcher {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#pokemonSearcher > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 

@keyframes bounce {
    100% {
        transform: translateY(0.6rem);
    }
} 