.galleryPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.galleryPokemon > .figurePokemon > img {
    height: 20vh;
    width: 20vw;
}

.galleryPokemon > .figurePokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerPokemonSearcher {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonSearcher {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#pokemonSearcher > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 

