#memory-game-gameboard {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    border: 0px solid black;
    grid-gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
    #memory-game-gameboard {
        width: 400px;
        height: 600px;
        border: 0px solid black;
    }
}
