.cardAppInMobileDev-Data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid purple;
    border-radius: 1rem;
    background-color: aliceblue;
}

.cardAppInMobileDev-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid purple;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}