.habilities {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.habilities-card {
    /* width: auto;
    height: auto; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 12px;
    background-color: #BBC6D1;
    border: 1px solid black;
}